.post-review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 200px;
    border: skyblue solid 2px;
    padding: 30px;
    /* margin-bottom: 25px; */
    border-radius: 15px;
    margin-top: 20px;
}

textarea {
    resize: none;
    height: 75px;
    border-radius: 7px;
    border: skyblue solid 2px;
    background-color: lavender;
}

.submit-comment-btn {
    border: black 1px solid;
    border-radius: 10px;
    background-color: gold;
}

.submit-comment-btn:hover {
    background-color: goldenrod;
}