.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(58, 132, 243);
    width: 350px;
    height: 200px;
    border-radius: 10px;
}

.welcome-blurb {
    text-shadow: rgb(49, 237, 234) 1px 1px 2px ;
    margin-bottom: 0;
}

.where-will-you-go-next {
    text-shadow: rgb(49, 237, 234) 1px 1px 5px;
    margin-top: 10px;
}

.home-page-posts-link {
    display: flex;
    justify-content: center;
}

.home-navlink {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 2px black solid;
    border-radius: 7px;
    margin-top: 0px;
    padding: 5px;
    color: skyblue;
    text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
    font-family: sans; 
    color: rgb(78, 141, 223);
    background-color: rgb(51, 235, 242);
    height: 50px;
    width: 100px;
    padding-right: 0;
}

.home-navlink:visited {
    text-decoration: none;
}

.home-navlink:hover {
    background-color: rgb(0, 255, 251);
}
