.welcome-blurb {
    display: flex;
    justify-content: center;
    text-shadow: rgb(253, 71, 71) 1px 1px 2px ;
}

.where-will-you-go-next {
    display: flex;
    justify-content: center;
    text-shadow: orange 1px 1px 5px;
}

.home-page-container {
    /* background-image: linear-gradient(to right,#ff6e7f,#bfe9ff) */
}