.detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spot-info {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
    font-size: x-large;
    font-weight: 500;
}

.detail-img {
    width: 650px;
    border-radius: 10px;
}

.reviews-header {
    margin-top: 35px;
    color: black;
    border-bottom: black solid 2px;
}

.reviews-container {
    list-style-type: none;
    border: black solid 2px;
    border-radius: 5px;
    padding: 15px
}

.review-container {
    display: flex;
    align-items: flex-end;
    height: 20px;
    gap: 5px;
}

.review-user {
    color: dodgerblue;
    font-size: 20px;
}

.review-content {
    font-style: italic;
    font-size: 18px;
}