.detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spot-info {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
    font-size: x-large;
    font-weight: 500;
}

.detail-img {
    width: 650px;
}