.create-spot-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 200px;
    border: black solid 1px;
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 10px;
}

.edit-and-delete{
    display: flex;
    flex-direction: row;
    gap: 125px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}