.spots-list-imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spots-list-img{
    width: 500px;
    margin: 10px;
    border-radius: 10px;
    /* border: black 1px solid */
}

.spots-list-spot-details {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 55px;
    padding: 0px;
    width: auto;
    padding: 10px;
    border-radius: 15px;
}

.spot-details-container {
    display: flex;
    justify-content: center;
}