.spots-list-imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spots-list-img{
    width: 500px;
    margin: 10px;
}

.spots-list-spot-details {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 55px;
}