.login-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family:'Times New Roman', Times, serif;
    padding: 20px;
    max-width: 200px;
    border: black 1px solid;
    border-radius: 5px;
}

.login-container:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px 1px
}

.login-form{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.username-or-email {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-password {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
