.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family:'Times New Roman', Times, serif;
    padding: 20px;
    max-width: 200px;
    border: black 2px solid;
    border-radius: 5px;
}

.form-container:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px 1px
}

.form-field{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    justify-content: center;
}

.error-container {
    padding: 0px;
    margin: 0px;
}